.container{
    background-color: rgb(202, 93, 93);
    font-size: large;
    border: 10em;
    font: 1em sans-serif;
    }
}

{
    .prociono-regular {
        font-family: "Prociono", serif;
        font-weight: 400;
        font-style: normal;
      }
      
}
  